name: Build Lesson Plan Writer

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: windows-latest
            name: Windows
            ext: .exe
            args: --plugin-enable=upx --windows-disable-console
          
          - os: macos-latest
            name: macOS
            ext: .bin
            # macOS 下 Nuitka 加 UPX 易导致系统安全策略报 killed:9，故不加 UPX 插件
            args: --macos-disable-console
          
          - os: ubuntu-latest
            name: Linux
            ext: .bin
            args: --plugin-enable=upx

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install System Dependencies (Linux)
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install -y python3-tk tk-dev upx-ucl patchelf ccache

    - name: Install System Dependencies (Windows)
      if: runner.os == 'Windows'
      run: choco install upx

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        # 安装构建核心库
        pip install nuitka zstandard ordered-set

    - name: Build with Nuitka
      run: |
        python -m nuitka --standalone --onefile --assume-yes-for-downloads --plugin-enable=tk-inter ${{ matrix.args }} --output-filename="JintaLessonWriter-${{ matrix.name }}${{ matrix.ext }}" main.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: JintaLessonWriter-${{ matrix.name }}
        path: JintaLessonWriter-${{ matrix.name }}${{ matrix.ext }}